*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.topline{
    background:  #1d2023;
    font-size: .8em;
}
.topline-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.topline-wrap1{

}
.topline-wrap1 ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}
.topline-wrap1 ul li{
    margin-right: 5px;
}
.topline-wrap1 ul li.cam{
    background: #008ADF;
    border-radius: 10px;
    
}
.topline-wrap1 ul li.cam a{
    color: #fff!important;
    padding: 5px 15px;
}
.topline-wrap1 ul li a{
    color: #969fa8;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    transition: .5s;
}
.topline-wrap1 ul li a.active{
    /* background: #fff; */
    text-decoration: none;
    padding: 10px 10px;
    display: block;

    color: #fff;
}
.topline-wrap1 ul li a:hover{
    /* background: #fff; */
    text-decoration: none;
    padding: 10px 10px;
    display: block;

    color: #fff;
}
.topline-wrap2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topline-wrap2 ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.topline-wrap2 ul li{
    margin-right: 5px;
}
.topline-wrap2 ul li a{
    color: #969fa8;;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-weight: bold;
    transition: .5s;
}
.topline-wrap2 ul li a:hover{
    color: #000;
}
.topline-wrap2 ul li a>i{
    color: #ffee2d;
}
.lang{
    position: relative;
    display: flex;
}
.lang .langlink, .lang .fa-earth-americas{
    display: block;
    color: #fff;;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-weight: bold;
    transition: .5s;

}
.lang .fa-earth-americas{
    padding: 12px 0 10px 10px;
    font-size: 1.1em;
}
.lang .langbox{
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0 125px 80px rgb(23 58 105 / 7%), 0 81.0185px 46.8519px rgb(23 58 105 / 5%), 0 48.1481px 25.4815px rgb(23 58 105 / 4%), 0 25px 13px rgb(23 58 105 / 4%), 0 10.1852px 6.51852px rgb(23 58 105 / 3%), 0 2.31481px 3.14815px rgb(23 58 105 / 2%);
}
.lang .langbox ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.lang:hover .langbox{
    display: block;
}

.menuwrap{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuwrap .logo img{
    height: 40px;
}

nav{
    margin-right: auto;
}
nav ul {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    list-style: none;
    margin-left: 20px;
    
}
nav ul li{
    margin-right:0;
}
nav ul li a{
    padding: 10px 15px;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-size: 1.1em;
    color: #000;
    transition: .5s;
    position: relative;
}
nav ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 0%;
    background: #ff0032;
    transition: .5s;
}

nav ul li a:hover{
    color: #000;
}
nav ul li a:hover:after{
    width: 100%;
}

.sing-lang{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sing-lang .lang{}
.sing-lang .lang a{
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #969fa8;
    font-weight: bold;
}
.sing-lang .lang a:hover{
    color: #008ADF;
}
.sing-lang .sing{}
.sing-lang .sing a{
    display: block;
    padding: 10px 15px;
    background: #E5310E;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
}
.sing-lang .sing a > i{
    padding-right: 40px;
}
.sing-lang .sing a:hover{
    background: #008ADF;
}



.slider{
    height: 400px;
    background: linear-gradient(to left,#2c4798,#003153);;
}
.sliderwrap{
    overflow: hidden;
    max-height: 400px;
    position: relative;
}
.sliderwrap .item{
    position: relative;
    height: 400px;
    /* border-radius: 15px; */
    overflow: hidden;
    display: block;
}
.sliderwrap .content{
    margin-top: 75px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}
.sliderwrap .item .images{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderwrap .item .images img{
    object-fit: cover;
    max-width: 100%;
}
.sliderwrap .item .title{
    
    color: #fff;
    display: flex;
    font-size: 4em;
    font-weight: bold;
    font-family: "Play", serif;
}
.sliderwrap .item .desc{
    color: #fff;
    margin-bottom: 15px;
    width: 40%;
    
}
.sliderwrap .item .btn{
    font-family: "Play", sans-serif;
    color: #888;
    padding: 15px 25px;
    text-transform: uppercase;
    background: #fff;
    margin-top: 80px;

}
.sliderwrap .owl-nav{
    position: absolute;
    right: 15%;
    bottom: 50px;
    z-index: 150;
}
.sliderwrap .owl-nav .owl-prev span,
.sliderwrap .owl-nav .owl-next span{
    font-size: 50px;
    margin-right: 15px;
    border-radius: 10px;
    color: #fff;
    /* background: rgba(255, 255, 255, 0.2); */
    font-size: 50px;
    padding: 0 10px 10px 10px !important;
}



.tarif{
    overflow: hidden;
}
.tarifwrap{
    margin: 100px 0 100px;
}
.tarifwrap .tabs{}
.tarifwrap .tabs .tabs__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tarifwrap .tabs .tabs__button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    background: transparent;

    color: #ccc;
    font-size: 1.2em;
    text-transform: uppercase;
}
.tarifwrap .tabs .tabs__button:hover{
    color: #008ADF;
}
.tarifwrap .tabs .tabs__button.active{
    color: #008ADF;
}
.tarifwrap #tarifin .owl-stage-outer{
    overflow: visible;
}
.tarifwrap #tarifin .item{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 125px 80px rgb(23 58 105 / 7%), 0 81.0185px 46.8519px rgb(23 58 105 / 5%), 0 48.1481px 25.4815px rgb(23 58 105 / 4%), 0 25px 13px rgb(23 58 105 / 4%), 0 10.1852px 6.51852px rgb(23 58 105 / 3%), 0 2.31481px 3.14815px rgb(23 58 105 / 2%);
} 
.tarifwrap #tarifin .item .header{
    padding: 35px 35px 0px 35px;
    color: #888;
}
.tarifwrap #tarifin .item .header h4{
    color: #008ADF;
    font-weight: bold;
}
.tarifwrap #tarifin .item .header .desc{} 
.tarifwrap #tarifin .item .content{
    padding: 0 15px 10px;
}
.tarifwrap #tarifin .item .content .contentdesc{
    padding: 1em;
    background: #008ADF;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 1em;
    color: #fff;
}
.tarifwrap #tarifin .item .content ul{
    padding-left: 1em;
}
.tarifwrap #tarifin .item .content ul li{
    list-style: none;
    margin-bottom: 10px;
}
.tarifwrap #tarifin .item .price{
    padding: 0 15px 10px;
}
.tarifwrap #tarifin .item .price ul{
    list-style: none;
    text-align: right;
}
.tarifwrap #tarifin .item .price ul li:nth-child(2){
    font-size: 2em;
    font-weight: bold;
    color: #008ADF;
}
.tarifwrap #tarifin .content ul li .svg-inline--fa{
    color: #008ADF;
}
.tarifwrap #tarifin .content ul li {
    font-weight: bold;
    color: #008ADF;
}
.tarifwrap #tarifin .content ul li span{
    color: #888;
    font-weight: normal;
}
.tarifwrap #tarifin .content ul li .fa-solid{
    fill: #008ADF!important;
}
.tarifwrap #tarifin .item .footer{
    padding: 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarifwrap #tarifin .item .footer button{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: #008ADF;
    color: #fff;
    width: 48%;
}
.tarifwrap #tarifin .item .footer button:nth-child(1){
    background: #fff;
    border: 1px solid #ccc;
    color: #ccc;
    margin-right: 10px;
}
.tarifwrap .owl-dots button{
    background: #ccc;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.tarifwrap .owl-dots button.active{
    background: #008ADF;
}




.tabs__item:not(._active) {
    display: none;
}
.newswrap h4{
    color: #888;
}
.newswrap{
    padding: 100px 0;
}
.wrap-news{
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 125px 80px rgb(23 58 105 / 7%), 0 81.0185px 46.8519px rgb(23 58 105 / 5%), 0 48.1481px 25.4815px rgb(23 58 105 / 4%), 0 25px 13px rgb(23 58 105 / 4%), 0 10.1852px 6.51852px rgb(23 58 105 / 3%), 0 2.31481px 3.14815px rgb(23 58 105 / 2%);
}
.wrap-news .date{
    color: #888;
    margin-bottom: 10px;
    font-size: .7em;

}
.wrap-news .title{
    color: #008ADF;
    font-size: 1.3em;
}
.wrap-news .owl-nav{
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 2em;
}
.wrap-news .item{
    padding: 25px;
    transition: .5s;
}
.wrap-news .item:hover{
    box-shadow: 0 125px 80px rgb(23 58 105 / 7%), 0 81.0185px 46.8519px rgb(23 58 105 / 5%), 0 48.1481px 25.4815px rgb(23 58 105 / 4%), 0 25px 13px rgb(23 58 105 / 4%), 0 10.1852px 6.51852px rgb(23 58 105 / 3%), 0 2.31481px 3.14815px rgb(23 58 105 / 2%);
}
.wrap-news .item .title{
    font-weight: bold;
    margin-bottom: 10px;
}





.boxwrap{
    background: #F2F3F7;
    padding: 50px 0;
}
.box-wrap{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-auto-flow: danse;
    grid-gap: 15px;
}
.box-wrap .box{
    cursor: pointer;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
    overflow: hidden;
    border-radius: 10px;
    transition: .5s;
    box-shadow: 
    /* -5px -5px 7px rgba(255,255,255,0.5),
            5px 5px 7px rgba(70,70,70,0.12),  */
            inset 0px 0px 0px rgba(255, 255, 255, 0.5), 
            inset 0px 0px 0px rgba(70, 70, 70, 0.12);
}
.box-wrap .box:hover{
    box-shadow: 
    /* -5px -5px 7px rgba(255,255,255,0.5),
            5px 5px 7px rgba(70,70,70,0.12),  */
            inset -5px -5px 7px rgba(255, 255, 255, 0.5), 
            inset 5px 5px 7px rgba(70, 70, 70, 0.12);
}
.box-wrap .box .img{
    font-size: 3em;
    color: #008ADF;
}
.box-wrap .box img{
    max-height: 100%;
    object-fit: cover;
}
.box-wrap .box .title{
    color: #888;
}
.box-wrap .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}
.box-wrap .box:nth-child(5){
    grid-column: span 2;
    grid-row: span 2;
}

.tv{
    background: #1d2023;
    padding: 50px 0;
}
.tv{}
.tv h3{
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}
.tv .content{
    color: #ccc;
}
.tv .content ul{
    padding-left: 0;
    list-style: none;
}
.tv .content ul li{
    padding: 20px 50px 20px 20px;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
}
.tv .content ul li:hover{
    background: #fff;
}
.tv .content ul li:hover .title{
    color: #008ADF;
}
.tv .content ul li:hover .desc{
    color: #000;
}
.tv .content ul li .title{
    font-size: 1.5em;
    font-weight: bold;
    color: #008ADF;
    margin-bottom: 10px;
}
.tv .tvimg{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tv .tvimg img{
    height: 460px;
}


.itrsno{
    padding: 100px 0;
    overflow: hidden;
}
.itrsno h3{
    font-size: 2em;
    color: #888;
    margin-bottom: 30px;
}
.itrsno .owl-stage-outer{
    overflow: visible;
}
.itrsno .item{
    background: #F2F3F7;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    height: 400px;
    position: relative;
}
.itrsno .item:hover{
    box-shadow: 0 125px 80px rgb(23 58 105 / 7%), 0 81.0185px 46.8519px rgb(23 58 105 / 5%), 0 48.1481px 25.4815px rgb(23 58 105 / 4%), 0 25px 13px rgb(23 58 105 / 4%), 0 10.1852px 6.51852px rgb(23 58 105 / 3%), 0 2.31481px 3.14815px rgb(23 58 105 / 2%);
}
.itrsno .item .img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.itrsno .item .img:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,0.1) 100%);
    content: "";
}
.itrsno .item .img img{
    object-fit: cover;
    height: 400px;
}
.itrsno .item .title{
    color: #fff;
    font-weight: bold;
    padding: 15px;
    min-height: 126px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 50;

    font-size: 1.2em;

}
.itrsno .item .content{
    color: #888;
}
.itrsno .item .date{
    position: absolute;
    z-index: 50;
    top: 20px;
    right: 20px;
    background: #fff;
    font-size: .8em;
    padding: 5px 10px;
    border-radius: 10px;
    color: #888;
}
.itrsno .owl-dots{
    margin-top: 15px;
}
.itrsno .owl-dots  button{
    background: #888;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.itrsno .owl-dots button.active{
    background: #008ADF;
}


.reklama{
    background: #F2F3F7;
    padding: 50px 0;
}
.reklamawrap{}
.reklamawrap .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reklamawrap .title{
    font-size: 2em;
    color: #008ADF;
    font-weight: bold;
    margin-right: 50px;
}
.reklamawrap .num{
    color: #888;
    padding: 15px 25px;
    border-radius: 0 0 0 0;
    font-size: 1.2em;
    font-family: "Play", sans-serif;
    font-weight: bold;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
}

.reklamawrap input{
    font-family: "Play", sans-serif;
    padding: 15px 25px;
    border-color: #ccc;
    border-radius: 0;
    outline: none;
    border: 1px solid #ccc;
    border-right: none;
    border-left: none;
    font-size: 1.2em;
    width: 20%;
}
.reklamawrap .btn{
    font-family: "Play", sans-serif;
    font-size: 1.2em;
    background:#E5310E;
    color: #fff;
    padding: 15px 25px;
    border-radius: 0 10px 10px 0;
}




























footer{
    background: #1d2023;
    padding: 50px 0 25px;
}

.footerwrap{}
.footerwrap .logofooter img{
    max-height: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.footerwrap .phonefooter{
    display: flex;
    align-items: center;
    color: #fff;
}
.footerwrap .phonefooter .img{
    font-size: 3em;
    margin-right: 10px;
}
.footerwrap .phonefooter .code{
    font-size: .8em;
    margin-right: 10px;
}
.footerwrap .phonefooter .num{
    font-size: 4em;
    margin-right: 10px;
}
.footerwrap .phonefooter .num span{
    color: #008ADF;
}
.footerwrap .socialfooter{
    margin-top: 5px;
}
.footerwrap .socialfooter ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footerwrap .socialfooter ul li{
    font-size: 40px;
    margin-right: 15px;
}
.footerwrap .socialfooter ul li a{}
.footerwrap .descfooter{
    padding: 0 10px 0 0;
    color: #888;
} 
.footerwrap h4{
    color: #fff;
    margin-bottom: 10px;
    font-family: "Play", sans-serif;
    font-size: 1.2em;
}
.footerwrap ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.footerwrap ul li{}
.footerwrap ul li a{
    color:#888;
    text-decoration: none;
    transition: .5s ;
    font-size: 1em;
}
.footerwrap ul li a:hover{
    color: #fff;
}


.copyright{
    background: #1d2023;
    font-size: .8s;
    padding: 10px;
}
.copyrightwrap{
    color: #ccc;
}


.companybox{
    padding: 50px 0;
}





.tvlistbox{
    background: #fff;
    border-radius: 0;
    padding: 50px 0;
}
.tvitems{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-auto-flow: danse;
    grid-gap: 15px;
}
.tvitems .tvitem:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}
.tvitems .tvitem:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
}
.tvitems .tvitem:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}
.tvitems .tvitem:nth-child(5){
    grid-column: span 1;
    grid-row: span 2;
}
.tvitems .tvitem:nth-child(12){
    grid-column: span 2;
    grid-row: span 2;
}
.tvitems .tvitem:nth-child(15){
    grid-column: span 2;
    grid-row: span 2;
}
.tvitems .tvitem{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #ccc;
    transition: .5s;
    background: #fff;
}
.tvitems .tvitem img{
    max-width: 80%;
}
.tvitems .tvitem:hover{
    transform: scale(1.1);
}



.servicesec{
    padding: 100px 0;
}

.serviceitems{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    grid-auto-flow: danse;
    grid-gap: 15px;
}
.serviceitems .serviceitem{
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    transition: .5s;
    border-radius: 10px;
}
.serviceitems .serviceitem:hover{
    transform: scale(1.05);
}
.serviceitems .serviceitem:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
}
.serviceitems .serviceitem:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}
.serviceitems .serviceitem:nth-child(5){
    grid-column: span 1;
    grid-row: span 2;
}
.serviceitems .serviceitem .img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    
}
.serviceitems .serviceitem .img:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: #008ADF;
    opacity: .3;
}
/* 008ADF */
.serviceitems .serviceitem .img img{
    object-fit: cover; 
    max-height: 100%;

}
.serviceitems .serviceitem .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;

    position: absolute;
    top: 0;
    left: 0;

    font-size: 40px;
}
.serviceitems .serviceitem a{
    text-decoration: none;
}
.serviceitems .serviceitem .title{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.otziv{
    padding: 100px 0;
    
    background: url(https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.otziv:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(2,0,36,0.3);
}
.otziv .otzivwrap{

}
.otziv .item{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.otziv .item .logo{
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 20px;

}
.otziv .item .title{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.otziv .item .desc{
    width: 70%;
    color: #fff;
    text-align: center;
}
#otziv{
    position: relative;
}
.otziv .owl-carousel .owl-nav{
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 50px;
    color: #fff;
    z-index: 50;
    
}



.market{}
.marketwrap{}
.marketwrap .item{
    padding: 20px 30px;
    background: #fff;
    border-radius: 10px;
}
.marketwrap .item .images{}
.marketwrap .item .price{
    font-size: 2em;
    font-weight: bold;

}
.marketwrap .item .title{
    color: #008ADF;
    font-weight: bold;
    margin-bottom: 10px;
}
.marketwrap .item .btn{
    width: 100%;
    padding: 0;
}
.marketwrap .item .btn button{
    border: none;
    background: #008ADF;
    padding: 10px 15px;
    color: #fff;
    width: 100%;
    display: block;
    border-radius: 10px;
}